<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item active"
      style="
        background-image: url('https://images.unsplash.com/photo-1503756234508-e32369269deb?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      "
    >
      <div class="carousel-caption">
        <h1>Explore the Wonders of Paris</h1>
        <p>
          Experience the city of lights with its iconic Eiffel Tower, museums,
          and cafes.
        </p>
      </div>
    </div>
    <div
      class="carousel-item"
      style="
        background-image: url('https://images.unsplash.com/photo-1503756234508-e32369269deb?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      "
    >
      <div class="carousel-caption">
        <h1>Discover the History of Rome</h1>
        <p>
          Visit ancient ruins and marvel at the beauty of the Colosseum and
          Vatican City.
        </p>
      </div>
    </div>
    <div
      class="carousel-item"
      style="
        background-image: url('https://images.unsplash.com/photo-1503756234508-e32369269deb?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      "
    >
      <div class="carousel-caption">
        <h1>Embrace the Culture of Tokyo</h1>
        <p>
          Enjoy the vibrant streets, unique cuisine, and cutting-edge technology
          of Japan.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#heroCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#heroCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
