.carousel-item {
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}
