.banner {
  background-image: url("https://media.istockphoto.com/id/520494070/photo/interior-of-mosque-jama-masjid-delhi-india.jpg?s=1024x1024&w=is&k=20&c=sHFAexwh5ZTFeS4YWiwCbd5rH_u5TZ1f_WfrAY3KOtk=");
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  padding: 80px 20px;
  text-align: center;
}
